# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\pcjme\OneDrive\JavaCourse\JavaMent\PreProject\Chapter 2\Task222\spring-mvc\2.2.2. spring_mvc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
